{% extends 'base-form.html' %}
{% block form %}
    <form id="register-form" action="{% url 'emoji:createUser' %}" method="post">
        {% csrf_token %}
        <table>
            {{ registerForm }}
        </table>
        <input type="submit" value="注册" id="register-button">
    </form>
{% endblock %}

{#<form id="register-form" action="{% url 'emoji:createUser' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <input name="user" type="text" placeholder="账号" id=""><br>#}
{#    <input name="psd" type="password" placeholder="密码"><br>#}
{#    <input name="email" type="email" placeholder="email" id="email"><br>#}
{#        <input type="submit" value="立即登录" id="login-button"><br>#}
{#    <input type="submit" value="注册" id="register-button">#}
{#</form>#}